/* page radious */
.bor_rad{
    border-radius: 5px;
}

/* pop box * color */
.red-asterisk{
    color: red;
}

/* header icon */
.icon_clr{
    color: #d8341b ;
    font-size: 14px;
    font-weight: 400;
    font-size: 18px;
}

/* add routing button */
.btn_info{
    color: #fff;
    background-color: #03a9f4 !important;
}

/* hr line */
.hr_color{
    margin-top: 15px;
    border-bottom: 1px solid;
    color: #d8341b !important;
    opacity: 1;
}

/* add routing button */
@media(max-width: 768px){
    .bton{
        display: inline-block;
        margin-left: 0 !important;
        width: 100%;
        margin-bottom: 5px !important;
        float: none !important;
        text-align: left;
    }
    }
     /* add operation box */
    .bx{
        height: fit-content;
    }
    
    /* close button hover */
.cl_btn:hover{
    background-color: rgb(234 234 234 / 80%);;
 }
 .cl_btn{
     background-color: rgb(234 234 234 / 80%);
     border-radius: 15px;
 }

 .cont-alin{
    margin: 30px;
    margin-left: 50px;
 }

 @media(max-width: 768px){
    .cont-alin{
            margin-left: 0px;
        }
    }

    /* left side heder text alin */
.alin{
    margin-top: 22px;
    color: gray;
}

/* save and close align  */
.bton_alin{
    margin-top: -30px;
    margin-bottom: 20px;
}

/* modal button align */
.btn_alin{
    margin-top: -30px;  
}



